<div class='grid-header'>
  <div class='grid-item-header-1'>
    <%= link_to 'All Subdevvits', subdevvits_path, { class: 'all-subdevvits-link' } %>
  </div>
  <div class='grid-item-header-2'>
    <h1><%= link_to 'devvit', root_path %></h1>
  </div>
  <div class='grid-item-header-3'></div>
</div>
